html,body{
   font-size: 10px
}
h1{
   font-size: 6rem;
   color: purple;

}
#bear-photo{
   width: 25rem;
}
.text{
   font-size: 1.5rem;
   font-weight: bold;
}
.special{
   color: teal;
   font-size: 3rem;
   border: 1px solid teal;
}
input[type='password']{
   height: 5rem;
   width: 10rem;
}
p{
   margin: 2rem;
   padding: 2rem;
}
a{
   text-decoration: none;
   font-size: x-large;
   background: #333;
   color: #fff;
   padding: 1rem 0.4rem;
}
a:hover{
   color: salmon;
}#todos{
   font-size: 3rem;
   list-style: none;
   font-weight: bolder;
  
}
.todo{
   padding: 0.75rem;
   color: olive;
}

.done{
   color: gray;
   text-decoration: line-through;
   opacity: 50%;
}
.biggertext{
   font-size: 2rem;
   list-style: none;
}
.grid{
   display: grid;
   margin: 2rem 0.5rem;
   grid-template-columns: repeat(3,1fr);
}