html,body{
   font-size: 10px
}
h1{
   font-size: 6rem;
   color: purple;

}
#bear-photo{
   width: 25rem;
}
.text{
   font-size: 1.5rem;
   font-weight: bold;
}
.special{
   color: teal;
   font-size: 3rem;
   border: 1px solid teal;
}
input[type='password']{
   height: 5rem;
   width: 10rem;
}